@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Curriculum Vitae Student</h1>



    <div class="frame">
        <div class="plane-container">
            <a href="http://customer.io/" target="_blank">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="1131.53px" height="379.304px" viewBox="0 0 1131.53 379.304" enable-background="new 0 0 1131.53 379.304"
                     xml:space="preserve" class="plane">
<polygon fill="#D8D8D8" points="72.008,0 274.113,140.173 274.113,301.804 390.796,221.102 601.682,367.302 1131.53,0.223  " />
<polygon fill="#C4C4C3" points="1131.53,0.223 274.113,140.173 274.113,301.804 390.796,221.102   " />
</svg>
            </a>

        </div>
    </div>
    <div class="clouds">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
             height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud big front slowest">
<path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
</svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
             height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud distant smaller">
<path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
</svg>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
             height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud small slow">
<path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
</svg>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
             height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud distant super-slow massive">
<path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
</svg>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
             height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud slower">
<path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
</svg>

    </div>









    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    
    <div class="overflow why">
        <div class="col_item">
            <div class="img_container"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
            <p class="description">Students will speak and behave respectfully toward each other and staff.</p>
        </div>
        <div class="col_item">
            <div class="img_container"><i class="fa fa-comments" aria-hidden="true"></i></div>
            <p class="description">Students will respect their school by keeping it clean and safe.</p>
        </div>
        <div class="col_item">
            <div class="img_container"><i class="fa fa-sign-in" aria-hidden="true"></i></div>
            <p class="description" Students will come to school ready to learn, and as such, will not bring personal property from home which will be a distraction or safety concern.</p>
        </div>
    </div>
    <div class="overflow block block_item_2">
        <div class="block_1">Students will come to school ready to learn, and as such, will not bring personal property from home which will be a distraction or safety concern.</div>
    </div>



    <div class="overflow block block_item_3">
        <div class="block_2">
            <p>
                Students will keep hands, feet and all objects to themselves at all times. In order to ensure a safe environment, conflicts will be settled peacefully.  Students who feel they are unable to solve conflicts peacefully need to seek an adult for assistance.  Students are responsible for their actions and need to avoid physical or verbal aggression at all costs.  Physical and/or verbal aggression will not be tolerated and will be considered a severe event resulting in police intervention along with other interventions listed below. <span class="accent">sapiente</span>Students will walk quietly <span class="accent">laboriosam</span>Students will enter and exit the building through the appropriate doors
                Students will not wear hats
                Students will not chew gum.
            </p>
        </div>
        <div class="block_2">
            <p>
                The Hamilton School community is one in which adults and children can flourish in an atmosphere of mutual respect, <span class="accent">socially and emotionally.  The Hamilton School community is a peaceful one in which differences are settled through negotiation and problem solving.</span> Everyone has a right to be shown respect, kindness and courtesy and to live in a safe environment. <span class="accent">Disciplinary Guidelines.</span>General rules have been adopted for use throughout the building.  For students not adhering to these, this disciplinary guide has been set.<span class="accent">Disciplinary Guidelines</span>eacher warning (1st offense)
                Student time-out (2nd offense)
                Parent notification (3rd offense)
                Principal intervention
                Conference scheduled.
            </p>
        </div>
    </div>
    <div class="overflow block block_item_4"></div>
</div>


